<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="ui$ | async as ui">
    <ng-content *ngTemplateOutlet="segmentsTemplate; context: { ui: ui }"></ng-content>
  </ng-container>

  segment value is: {{ segment$ | async }}

  <app-explore-container name="Tab 1 page"></app-explore-container>

  <ion-item>
    <ion-label>Foo</ion-label>
    <ion-select placeholder="foo" [interfaceOptions]="{ header: 'header'}" [value]="segment$ | async">
      <ion-select-option value="asdf">asdf</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>

<ng-template #segmentsTemplate let-ui="ui">
  <ng-container *ngIf="ui['1'] as randoval">
    <ion-toolbar>
      <ion-segment #ionSeg [value]="segment$ | async" [swipeGesture]=false (ionChange)="updateSegment2(ionSeg.value)">
        <ion-segment-button *ngFor="let seg of (segments$ | async)" [disabled]='seg === "rulings"' [value]="seg">
          <ion-label>{{ seg | titlecase }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ng-container>
</ng-template>
