<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label id="foo">legacy</ion-label>
    <ion-select slot="end" placeholder="foo" [value]="'foo'">
      <ion-select-option value="asdf">asdf</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-select placeholder="bar" [value]="'bar'" label="label attr">
      <ion-select-option value="bar">bar</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label id="baz">aria-labelledby attr</ion-label>
    <ion-select slot="end" placeholder="baz" [value]="'baz'" aria-labelledby="baz">
      <ion-select-option value="bar">baz</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-select placeholder="cab" [value]="'cab'" aria-label="cab">
      <ion-select-option value="cab">cab</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
